.header{
    /* height: 60px; */
display:flex;
/* align-items: center; */
background-color: #131921;
position: sticky;
top: 0;
z-index: 100;
color: white;
flex-wrap: wrap;
flex-direction: column;
padding-top: 5px;
padding-bottom: 5px;
}
.header_start{
    display: flex;
    flex-grow: 1;

} 
.header_logo{
    margin-left: 10px;
    margin-top: 10px;
}
.header_address{
    display: flex;
    margin-left: 10px;
    /* float: right; */
}
.header_address_left{
    align-items: flex-end;
}
.header_address_right{
    flex-direction: column;
}
.header_center{
    flex-grow: 1;
    display: flex;
}
.header_end{
 flex-grow: 1;   
 display: flex;
 justify-content: center;
 text-align: center;
}
.header_lang{
    margin-top: 10px;
flex-grow: 1;
}
.header_account{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header_orders{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header_cart{
    flex-grow: 1;
}
.product{
    display: flex;
}
.product_image{
    margin: 10px;
}
